.row
  .twelve.columns
    #featured
      %img(src="assets/logo-creedo.jpg" alt="uufom")
      %img(src="assets/gather.jpg" alt="Gather With Us" data-caption="#gather-caption")
      %img(src="assets/learn.jpg" alt="Learn With Us" data-caption="#learn-caption")
      %img(src="assets/chalice-scrolling.jpg" alt="chalice")
      %img(src="assets/serve.jpg" alt="Serve With Us" data-caption="#serve-caption")
      %img(src="assets/visit.jpg" alt="Visit Us" data-caption="#visit-caption")
    %span.orbit-caption#gather-caption
      :markdown
        Unitarian Universalist congregations are places where we gather to
        nurture our spirits, celebrate the passage of major life events, and
        build spiritual communities of support and friendship.
    %span.orbit-caption#learn-caption
      :markdown
        The great end in religious instruction is not to stamp our minds
        irresistibly on the young, but to stir up their own; not to make
        them see with our eyes, but to look inquiringly and steadily with
        their own. _-- William Ellery Channing_
    %span.orbit-caption#serve-caption
      :markdown
        Unitarian Universalists work within congregations to live their
        principles of support, acceptance, and social responsibility.
        Unitarian Universalists also reach out to the larger community and
        the world to promote human rights and social justice.
    %span.orbit-caption#visit-caption
      :markdown
        Unitarian Universalist congregations welcome everyone seeking
        truth and meaning in their lives. We welcome everyone to visit and
        experience our community of love and belief.
    .links
      = link_to "Calendar", calendars_path, class: "nice large custom button"
      = link_to "Current Newsletter", newsletters_path, class: "nice large custom button"
      = link_to "Social Justice News", social_justice_newsletters_path, class: "nice large custom button"
#next-sunday-modal.reveal-modal.centered
  %h1 Next Sunday's Topic
  - if @upcoming_service.present?
    %h2= @upcoming_service.title
    %h3= @upcoming_service.date.strftime("%A, %B %d, %Y")
    :markdown
      #{@upcoming_service.description}
#upcoming-events-modal.reveal-modal.centered
  %h1 Upcoming Events
  - @events.each do |event|
    .event
      %h2= event.name
      %h3= "#{event.date.strftime("%A, %B %d, %Y")} (#{event.time})"
      :markdown
        #{event.description}
