.row
  .twelve.columns
    :markdown
      # Who We Are

      Unitarian Universalism is a liberal religion that celebrates diversity
      of belief, the value of personal religious experience, and the inherent
      worth and dignity of every person.
.row
  .three.columns
    %dl.tabs.nice.contained.mobile.vertical
      %dd= link_to "About Us", "#about-us", class: "active"
      %dd= link_to "Our Seven Principles", "#our-seven-principles"
      %dd= link_to "Our Minister", "#our-minister"
      %dd= link_to "Our Mission", "#our-mission"
      %dd= link_to "Our Core Values", "#our-core-values"
  .nine.columns
    %ul.tabs-content.nice.contained.mobile
      %li#about-usTab.active
        .container
          .row
            .eight.columns
              :markdown
                As Unitarian Universalists, we keep our minds open regarding the religious
                questions with which people have always struggled. We believe that personal
                experience, conscience, and reason should be the final authorities
                in religion. In the end religious authority lies not in a book,
                person, or institution, but in ourselves. Ours is a free faith, so
                we will not ask anyone to subscribe to a creed.

                We believe that human understanding of life and death, the world,
                and its mysteries is never final. We celebrate unfolding truths
                known to teachers, prophets, and sages throughout the ages. We
                affirm the worth of all women and men and believe people should be
                encouraged to think for themselves. We know people differ in their
                opinions and lifestyles, and that these differences should be
                honored.

                We seek to act as a moral force in the world, believing that
                ethical living is the supreme witness of religion. The ‘here and
                now’ and the effects our actions will have on future generations
                deeply concern us. We know that our relationships with one another,
                with diverse peoples, races, and nations should be governed by
                justice, equity, and compassion.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/sign.jpg" alt="")
      %li#our-seven-principlesTab
        :markdown
          There are seven principles which Unitarian Universalist's affirm
          and promote:

          - The inherent worth and dignity of every person;
          - Justice, equity and compassion in human relations;
          - Acceptance of one another and encouragement to spiritual growth in our congregations;
          - A free and responsible search for truth and meaning;
          - The right of conscience and the use of the democratic process within our congregations and in society at large;
          - The goal of world community with peace, liberty, and justice for all;
          - Respect for the interdependent web of all existence of which we are a part.
      %li#our-ministerTab
        .container
          .row
            .eight.columns
              :markdown
                Greetings! Let me extend to you the warmest welcome of the
                Unitarian Universalist Fellowship of Midland, serving Midland, Bay
                City, Saginaw, and surrounding Tri-City region. Midland is known as
                ‘The City of Modern Explorers,’ and we proudly represent the
                progressive religious spectrum exploring the farthest reaches of
                spirituality, community building, and justice seeking.

                I was called in May 2011 and began serving as settled Minister of
                this Fellowship in August 2011. My call to the ministry developed
                over many years of lay leadership, serving as a youth advisor,
                writing religious education curricula, and teaching Sunday school
                classes at all age levels. I graduated with a Master of Divinity
                from the Meadville Lombard Theological School in Chicago in 2010
                after a long career in higher education administration at the
                University of Pittsburgh. I completed my ministerial internship at
                the Unitarian Universalist Congregation at Shelter Rock in
                Manhasset NY after serving as part-time Student Minister at the
                First Unitarian Church of Pittsburgh for two years.

                Theologically, I hold the ideas of great teachers and religious
                movements in high regard, including the Beatitudes of Jesus, the
                Analects of Kung Fu Tse, the Five Pillars of Islam, and the
                Eight-Fold Path of Buddhism. I am mystical humanist and religious
                atheist, and see Unitarian Universalism as the one religion that
                treasures the search for truth, defends the tools for searching,
                and holds dear the seeker and the universe that is our laboratory.

                I am also the author of the blog, [uujeff’s muse kennel and
                pizzatorium](http://uujeff.blogspot.com), an interactive journal of reflection on the Unitarian
                Universalist ministry, life…and pizza. Please feel free to visit
                and share your thoughts.

                If you would like to contact me directly, feel free to email me at
                [uurevjeff@gmail.com](mailto:uurevjeff@gmail.com).

              = link_to "Watch one of Jeff's Sermons", "http://youtu.be/6rbveelu7JQ", class: "nice large custom button", target: "_blank"
            .four.columns
              %ul.polaroids
                %li
                  %a(href="http://uujeff.blogspot.com" title="")
                    %img(src="assets/jeff.jpg" alt="Jeff Liebmann")
      %li#our-missionTab
        :markdown
          We are a multigenerational, liberal religious community in the
          Tri-City region. We offer a beacon to the religious seeker,
          supporting and nurturing the individual and collective pursuit of
          spiritual fulfillment.

          To achieve this mission, we:

          -	Empower members, friends, and the surrounding community to think freely, live ethically, and grow spiritually through lifelong learning, as we explore our values, live the principles of Unitarian Universalism, and search for truth and meaning.
          -	Assemble in supportive and beloved community, sharing life’s joys and sorrows, and embracing all of our wondrous diversity.
          -	Gather for stimulating worship experiences and rites of passage that inspire and provide opportunities to examine, clarify, and strengthen our personal value systems.
          -	Create a more just, peaceful and sustainable world through our words of influence, constructive deeds, and engaging love.
      %li#our-core-valuesTab
        :markdown
          The Unitarian Universalist Fellowship of Midland is a unique
          religious community – one that makes a difference in Midland and
          beyond. Our Core Values define us, guide us and ensure that
          everything we do is aligned with our vision. 

          **WE LOVE:** "I came looking for friendship and found a loving
          community."  

          **WE INSPIRE:** "I came questioning and I found an unfolding path of
          spiritual growth and deeper meaning."  

          **WE TRANSFORM:** "I came searching for religious education for my
          children and found a place where they are nurtured, encouraged to
          question, learn and act upon their beliefs – and so was I."  

          **WE KINDLE HOPE:** "I wanted to make a difference and discovered ways
          to change the world by engaging with love."
