#main-section.container.wrapper
  = render partial: "main"

#who-we-are-section.container.wrapper
  = render partial: "who_we_are"

#gather-with-us-section.container.wrapper
  = render partial: "gather_with_us"

#learn-with-us-section.container.wrapper
  = render partial: "learn_with_us"

#serve-with-us-section.container.wrapper
  = render partial: "serve_with_us"

#visit-us-section.container.wrapper
  = render partial: "visit_us"
