!!! 5
:plain
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
%head
  %meta(charset="utf-8")
  %meta(name="viewport" content="width=device-width")
  %meta(name="apple-mobile-web-app-status-bar-style" content="black")

  %link(rel="apple-touch-icon" href="apple-touch-icon.png")
  %link(rel="icon" type="image/ico" href="favicon.ico")

  = stylesheet_link_tag :application
  = csrf_meta_tags

  /[if lt IE 9]
    = stylesheet_link_tag :ie
    = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

  /[if IE]
    :css
      .timer { display: none !important; }
        div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
  
%body
  = render partial: "layouts/header"

  = yield

  = render partial: "layouts/footer"

  = javascript_include_tag :application
